# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/

# Environment variables
.env

# macOS
.DS_Store

# PDFs / local data
*.pdf
table_cropped_folder/
uploads/

# Logs
*.log
